{% load static %}


<!DOCTYPE html>
<html lang=en>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000"/>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% include 'blog/react/css.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  {% if title %}
  <title>esic - {{ title }}</title>
  {% else %}
    <title>Esic</title>
  {% endif %}
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
      <div class="container">
        
        <a class="navbar-brand mr-4" href="{% url 'home' %}">MSIC CLUB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          {% if user.is_authenticated %}
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'blog:departments' %}">Department</a>
            <a class="nav-item nav-link" href="{% url 'blog:post_list' %}">All Post</a>
          </div>
          {% endif %}
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'blog:post_create' %}">New post</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              <!-- if not register -->
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>


<!--BLOCK CONTENT-->  
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages or sent %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <!--Main content page-->
        {% block content %}{% endblock %}
      </div>
      <!-- side bar -->
        <div class="col-md-4">
          <div class="content-section">

            {% if username %}
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
            {% endif %}

            {% if posts or post %}
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
            {% endif %}
            {% if form %}
              {% block page_register %}{% endblock %}
            {% endif %}
          </div>
        </div> 

        <div id='container'>
          <div id='main'>
    
          </div>
        </div>
    </div>
  </main>


  {% include 'blog/react/base_embed.html' %}
  {% include 'blog/react/js.html' %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>