{% load static %}


<!DOCTYPE html>
<html lang=en>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000"/>
  <!-- AwesomeFont CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/v4-shims.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% include 'blog/react/css.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  {% if title %}
  <title>esic - {{ title }}</title>
  {% else %}
    <title>Esic</title>
  {% endif %}
</head>
<body>
  <!--Navbar section-->
  {% include 'blog/components/navbar2.html' %}


<!--BLOCK CONTENT-->  
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages or sent %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <!--Main content page-->
        {% block content %}{% endblock %}
      </div>
      <!-- side bar -->
        <div class="col-md-4">
          <!--Side bar for post list and post detail-->
          {% if posts or post %}
            {% block sidebar %}
            {% endblock %}
          {% endif %}

          {% if form %}
          <div class="content-section">
              {% block page_register %}{% endblock %}
          </div>
          {% endif %}
        </div> 


    </div>
  </main>
  {% if register or login or logout %}
    {% include "blog/components/footer.html" %}
  {% endif %}
  <!-- Optional JavaScript: ReactJS -->
  {% include 'blog/react/base_embed.html' %}
  {% include 'blog/react/js.html' %}


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="static/js/custome.js" defer></script>
</body>
</html>